/*CSS reset settings here*/

* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 325px;
    background-color: grey;
    margin-right: 0px;
    border: 5px solid grey;
}

#header {
    min-height: 50px;
    margin-top: 2px;
    width: 324px;
    background-color: purple;
}

#navigation {
    min-height: 100px;
    width: 50px;
    background-color: pink;
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
}

#main_content {
    min-height: 130px;
    width: 260px;
    background-color: blue;
    display: inline-block;
    border: 5px solid blue;
    margin-top: 5px;
    vertical-align: top;
}

.subcontents {
    min-height: 80px;
    width: 80px;
    background-color: yellow;
    display: inline-block;
}

#advertisement {
    min-height: 30px;
    width: 230px;
    background-color: green;
    margin-button: 50px;
}